<div class="header">
  <div class="header_items">
    <a href="/">
      <img
        width="50px"
        class="header_logo"
        height="50px"
        alt="HTML5 Logo"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/HTML5_Badge.svg/512px-HTML5_Badge.svg.png?20110131171049"
      />
    </a>
    <div class="header_info">
      <h3 class="header_title">Zadanie <a>rekrutacyjne</a></h3>
      <h3 class="header_personal-data">{{ headerPersonalData }}</h3>
    </div>
  </div>
</div>
