<p class="block-one_title">BLOK PIERWSZY</p>
<div class="block-one_items">
  <label class="block-one_label"
    ><input
      class="block-one_radio-button"
      type="radio"
      name="options"
      value="Opcja pierwsza"
      (click)="handleButtonRadioClick('Opcja pierwsza')"
    />
    Opcja pierwsza</label
  >
  <label class="block-one_label"
    ><input
      class="block-one_radio-button"
      type="radio"
      name="options"
      value="Opcja druga"
      (click)="handleButtonRadioClick('Opcja druga')"
    />
    Opcja druga</label
  >
  <label class="block-one_label"
    ><input
      class="block-one_radio-button"
      type="radio"
      name="options"
      value="Opcja losowa"
      (click)="handleButtonRadioClick('Opcja losowa')"
    />
    Opcja losowa</label
  >
</div>
